<!-- Author: Filip Todorov www.filiptodorov.com -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>Pick a License</title>
        <link rel="shortcut icon" href="img/favicon.ico" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
              <![endif]-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!--<script src="jquery-1.12.3.min.js"></script>-->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--<script src="../../bootstrap.min.js"></script>-->
        <!-- Place this tag in your head or just before your close body tag. -->


    </head>

    <body>

        <div class="header">
            <div class="container">
                <a href='#' (click)='refresh()'><h1>Pick a license</h1></a>
                <h2>Pick and import the best license for your open source project</h2>
                <div class="pull-right hidden-xs">
                    <a class="github-button" href="https://github.com/Singapore-Tech-Entrepreneurs/Pick-A-License/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch Singapore-Tech-Entrepreneurs/Pick-A-License on GitHub">Watch</a>
                    <a class="github-button" href="https://github.com/Singapore-Tech-Entrepreneurs/Pick-A-License" data-icon="octicon-star" data-show-count="true" aria-label="Star Singapore-Tech-Entrepreneurs/Pick-A-License on GitHub">Star</a>
                </div>
            </div>
        </div>


        <div class="main">
            <div class="container">
              <div class ='main-questions'>
              <div *ngIf="state=='beginning'">
                  <h1>It's easy to get caught up in code.</h1>
                  <p class="explanation1">Sharing your code isn't everything, though: it's also <span>!important</span> to tell people how they can use that code.</p>
                  <div class="buttons">
                      <a (click)="setState('quiz')" class="btn btn-primary btn-lg">Ok, Let's start!</a>
                      <a (click)='showSidebar(true) 'href="#" class="btn btn-default faq">I am confused. What should I do?</a>

                  </div>
              </div>
              <div *ngIf="state=='quiz'">
                  <div class="main-question active" style="display: block;">
                      <h3>{{question.getQuestion()}}</h3>
                      <div class="material-switch">
                          <input *ngIf="question.answer == 'yes'" (click)='question.switch()' id="question1" name="question1" type="checkbox" checked/>
                          <input *ngIf="question.answer == 'no'" (click)='question.switch()' id="question1" name="question1" type="checkbox"/>
                          <label for="question1" class="label-default"></label>
                      </div>
                   <div class="explanation">
                          <div class="yes">{{question.getHint()}}</div>
                      </div>

                  </div>
                  <div (click)="setAnswer()" class="buttons v2 btn btn-primary btn-lg">Next Step</div>
              </div>
              <div *ngIf="state=='end'">
                <div *ngIf="question != 'own'">
                    <h2>License Generated</h2>
                    <p>The most recommended license for you is <b>{{question}}</b>.</p>
                    <a href="{{getLicense()}}" class="nice-link" download><i class="fa fa-fw fa-download"></i>Download the license to your computer</a>
                </div>
                <div *ngIf="question == 'own'">
                  <h2>You need your own license</h2>
                </div>
              </div>
            </div>
            <div class='answered-questions pull-right'>
              <div class="answered-question" *ngFor="let answered of answeredQuestions">
                <h3>{{answered.getQuestion()}}</h3>
                <div class="material-switch smaller">

                  <input *ngIf="answered.answer=='yes'" id="{{answered.question}}" name="{{answered.question}}" type="checkbox" checked/>
                  <input *ngIf="answered.answer=='no'" id="{{answered.question}}" name="{{answered.question}}" type="checkbox"/>
                  <label for="{{answered.getQuestion()}}'" class="label-default"></label>
                </div>
              </div>
            </div>

          </div>
          <div class='sidebar'>
            <a (click)= 'showSidebar(false)'href='#' class='closeSidebar'></a>
            <ul class="tabs">
                    <li class="active owners"><a (click)='showOwners()' href="#">Project Owners</a></li><!--
                 --><li class='users'><a (click)='showUsers()' href="#">Users</a></li>
                </ul>
                <div class="questions">
                    <div id="projectOwners" *ngIf="showOwnersFAQ">
                        <div class="question"  id='div_owners{{faq_owners.indexOf(question)}}' *ngFor="let question of faq_owners">
                            <b class="owners{{faq_owners.indexOf(question)}}" (click)="showAnswer($event)">{{question.question}}</b>
                            <span *ngIf="faq_owners.indexOf(question) == 0" id="owners{{faq_owners.indexOf(question)}}" >{{question.answer}}</span>
                            <span *ngIf="faq_owners.indexOf(question) != 0" id="owners{{faq_owners.indexOf(question)}}">{{question.answer}}</span>
                        </div>
                    </div>
                    <div id='users' style='display:none' *ngIf="showUsersFAQ">
                      <div class="question"  id='div_users{{faq_users.indexOf(question)}}' *ngFor="let question of faq_users">
                          <b class="users{{faq_users.indexOf(question)}}" (click)="showAnswer($event)">{{question.question}}</b>
                          <span *ngIf="faq_users.indexOf(question) == 0" id="users{{faq_users.indexOf(question)}}" >{{question.answer}}</span>
                          <span *ngIf="faq_users.indexOf(question) != 0" id="users{{faq_users.indexOf(question)}}">{{question.answer}}</span>
                      </div>
                    </div>
                </div>

          </div>



        </div>

    </body>
</html>
