@charset "utf-8";
/*
    Author: Filip Todorov - www.filiptodorov.com
    Project: Pick a license
    All rights reserved
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body, html {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
@media (min-width:768px) {
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}
.header {
    background: #131B23;
    height: auto;
    padding: 15px 0;
}
.header h1 {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    display: inline-block;vertical-align: middle;
    cursor: pointer;
}
.header h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #999;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255,255,255,0.2);
}
.main {
    min-height: calc(100vh - 63px);
    height: auto;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    content: ' ';
    z-index: 1;
}
.main .container {
    position: relative;
    z-index: 2;
}
.main h1 {
    font-size: 48px;
    font-weight: 300;
    width: 50%;
    cursor: default;
}
p.explanation1 {
    margin: 25px 0 40px 0;
    width: 600px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
    color: #999;
}
p.explanation1 span {
    font-size: 12px;
    padding: 1px 5px;
    color: #fff;
    background: #e74c3c;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    cursor:help;
}
.buttons {
    margin: 0;
    text-align: left;
}
.buttons.v2 {
    margin-top: 40px;
}
.btn-primary {
    background: #00ABE7;
    border: 1px solid #00ABE7;
    border-radius: 25px;
    padding: 15px 35px;
    text-transform: uppercase;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #2DC7FF;
    border: 1px solid #2DC7FF;
}
.btn-default {
    border: none;
    outline: none;
    color: #999;
}
.btn-default:hover,
.btn-default:focus {
    background: none;
    border: none;
    box-shadow: none;
}
xmp {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0.2;
    z-index: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -420px;
    width: 350px;
    height: 100%;
    padding: 0 15px;
    background: #f9f9f9;
    z-index: 3;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.sidebar .closeSidebar {
    position: absolute;
    top: 15px;
    left: -50px;
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: translateX(80px) rotate(180deg);
    -webkit-transition:1s ease all;
    -moz-transition:1s ease all;
    -o-transition:1s ease all;
    transition:1s ease all;
}
.sidebar .closeSidebar:after {
    position: absolute;
    top: 0;
    left: 2px;
    width: 40px;
    height: 2px;
    transform: rotate(45deg);
    transform-origin: top left;
    content: ' ';
    background: #bfbfbf;
}
.sidebar .closeSidebar:before {
    position: absolute;
    top: 0;
    right: 1px;
    width: 40px;
    height: 2px;
    transform: rotate(-45deg);
    transform-origin: top right;
    content: ' ';
    background: #bfbfbf;
}
.sidebar.active {
    transform: translateX(-420px);
}
.sidebar.active .closeSidebar {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
}
.sidebar .tabs {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sidebar .tabs > li {
    display: inline-block;
    width: 50%;
}
.sidebar .tabs > li:first-child > a {
    border-right: 1px solid #eee;
}
.sidebar .tabs > li > a {
    display: block;
    text-align: center;
    color: #999;
    padding: 5px 0;
    margin: 10px 0;
}
.sidebar .tabs > li.active > a,
.sidebar .tabs > li > a:hover,
.sidebar .tabs > li > a:focus {
    color: #00ABE7;
    text-decoration: none;
}
.questions {
    width: 100%;
    height: calc(100vh - 81px);
    overflow-x: hidden;
    padding-right: 10px;
}
.questions::-webkit-scrollbar {
    width: 6px;
}
.questions::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.035);
    border-radius: 10px;
}
.questions::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
.questions::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.15);
}
.question {
    display: block;
    position: relative;
    padding-left: 25px;
}
.question b {
    display: block;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.question b:hover {
    color: #00ABE7;
}
.question span {
    display: block;
    font-weight: 300;
    font-size: 12px;
}
.question + .question {
    margin-top: 15px;
}
.question:after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2px;
    height: 15px;
    background: #000;
    content: ' ';
    opacity: 0.2;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.question:before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2px;
    height: 15px;
    background: #000;
    content: ' ';
    transform: rotate(90deg);
    opacity: 0.2;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}
.question.active:after {
    opacity: 0;
    transform: rotate(90deg);
}
.question span {
    display: none;
}

.main-questions {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.answered-questions {
    width: 40%;
    margin-left: 10%;
    display: inline-block;
    vertical-align: middle;
}
.answered-questions .answered-question {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
}
.answered-questions .answered-question h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #999;
}
.main-questions .main-question {
    display: none;
}
.main-questions .main-question h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.4;
}

.material-switch {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    margin-bottom: 7px;
    margin-top: 0;
}
.material-switch.smaller {
    width: 60px;
    margin-top: 15px;
}
.explanation {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-left: 10px;
    height: auto;
    border-radius: 4px;
    padding: 10px;
    background: #f1f1f1;
    font-size: 12px;
    position: relative;
}
.explanation:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    transform: rotate(45deg);
    content: ' ';
    margin: auto;
}
.explanation .no {
    display: none;
}
.material-switch > input[type="checkbox"] {
    display: none;
}
.material-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
}
.material-switch.smaller > label {
    width: 20px;
}
.material-switch > label::before {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    content: '';
    height: 48px;
    margin-top: -19px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 100px;
}
.material-switch.smaller > label::before {
    height: 28px;
    width: 60px;
}
.material-switch > label::after {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    content: 'NO';
    height: 34px;
    left: 10px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 34px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(0,0,0,0.35);
}
.material-switch.smaller > label::after {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 8px;
    left: 4px;
    top: -7px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: #fff;
    content: 'YES';
    color: #00ABE7;
    left: 57px;
}
.material-switch.smaller > input[type="checkbox"]:checked + label::after {
    left: 35px;
}
.last-step {
    display: none;
}
.last-step i {
    font-size: 48px;
    opacity: 0.25;
    margin-bottom: 20px;
}
.last-step h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 5px;
}
.last-step p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.4;
}
.last-step p.smaller {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.last-step p.smaller a {
    color: #00ABE7;
}
.nice-link {
    display: inline-block;
    width: 320px;
    height: auto;
    background: #00ABE7;
    border: 1px solid #00ABE7;
    padding: 5px 5px;
    margin: 5px 0;
    border-radius: 4px;
    color: #fff;
}
.nice-link:hover,
.nice-link:focus {
    border: 1px solid #00ABE7;
    color: #00ABE7;
    background: none;
    text-decoration: none;
}
.nice-link i {
    font-size: 14px;
    opacity: 1;
    margin: 0;
}
@media (max-width:768px) {
    .main {
        height: auto;
        min-height: inherit;
        padding: 60px 0;
    }
    .main h1 {
        font-size: 36px;
        width: 100%;
    }
    .main-questions {
        width: 100%;
    }
    p.explanation1 {
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .explanation {
        width: 200px;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 10px;
        text-align: center;
    }
    .header h2 {
        font-size: 12px;
        display: block;
        text-align: left;
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }
    xmp {
        opacity: 0;
    }
    .buttons {
        text-align: center;
    }
    .buttons .btn-primary {
        margin-bottom: 5px;
    }
    .sidebar {
        width: 280px;
    }
    .answered-questions {
        display: block;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 30px;
    }
    .answered-questions .answered-question {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .answered-questions .answered-question h3 {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
    }
}
